Source: gxde-wlcom
Section: x11
Priority: optional
Maintainer: Morose <chenlinxiang@kylinos.cn>
Build-Depends:
 debhelper-compat (= 13),
 cmake (>= 3.21),
 meson (>= 1.3.0),
 ninja-build,
 pkg-config,
 libdrm-dev,
 libxkbcommon-dev,
 libpixman-1-dev,
 libgbm-dev,
 libudev-dev,
 libseat-dev,
 libinput-dev,
 libdisplay-info-dev,
 hwdata,
 libegl-dev,
 libgles2-mesa-dev,
 libxcb1-dev,
 libxcb-composite0-dev,
 libxcb-icccm4-dev,
 libxcb-render0-dev,
 libxcb-res0-dev,
 libxcb-ewmh-dev,
 libxcb-dri3-dev,
 libxcb-present-dev,
 libxcb-render-util0-dev,
 libxcb-xinput-dev,
 libvulkan-dev,
 liblcms2-dev,
 libffi-dev,
 libexpat1-dev,
 xwayland,
 libcairo2-dev,
 libpango1.0-dev,
 libfontconfig1-dev,
 librsvg2-dev,
 libjson-c-dev (>= 0.15),
 libssl-dev,
 libepoxy-dev,
 libwayland-dev,
 wayland-protocols,
 libxcb-shape0-dev,
 libunwind-dev,
 libjpeg-dev,
 libgdm-dev,
 libsystemd-dev,
 glslang-tools,
 qt6-base-dev,
 qt6-base-private-dev,
 qt6-declarative-dev,
 qml6-module-qt5compat-graphicaleffects,
 qml6-module-qtquick-layouts,
 qml6-module-qtquick-window,
Standards-Version: 4.6.2

Package: gxde-wlcom
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Breaks: kylin-wayland-compositor-effects
Replaces: kylin-wayland-compositor
Conflicts: kylin-wayland-compositor
Provides: kylin-wayland-compositor
Description: GXDE wayland compositor

Package: gxde-wlcom-client
Architecture: any
Depends:
 gxde-wlcom,
 ${shlibs:Depends},
 ${misc:Depends},
Replaces: kylin-wayland-compositor-client
Conflicts: kylin-wayland-compositor-client
Description: Client library for GXDE wayland compositor
