#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

SUPPORT = https://www.debian.org/support

%:
	dh $@ --buildsystem=cmake+ninja

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DWLCOM_EXAMPLES=OFF \
		-DWLCOM_UKUI_THEME=ON \
		-DWLCOM_WLROOTS_RENDERERS=gles2,vulkan

override_dh_strip:

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_install:
	dh_install
	sh debian/install-private-libs.sh

override_dh_shlibdeps:
	dh_shlibdeps -- -xgxde-wlcom

override_dh_clean:
	dh_clean
	rm -rf debian/build
	rm -rf build-source
