[Desktop Entry]
Name=gxde-flakewm
Comment=GXDE desktop on flakewm
Exec=/usr/bin/startflakewm
TryExec=/usr/bin/flakewm
Type=Application
DesktopNames=GXDE
